<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102649035771-h9e21v7mhfvm8v9s7lecbt0gv2mevn4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102649035771-h9e21v7mhfvm8v9s7lecbt0gv2mevn4g</string>
	<key>API_KEY</key>
	<string>AIzaSyC6I33JUJUn2GGwl-2smNcXh9cDzGWdGug</string>
	<key>GCM_SENDER_ID</key>
	<string>102649035771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deltaTOxaREY.City</string>
	<key>PROJECT_ID</key>
	<string>firebase-binatrix</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-binatrix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102649035771:ios:7a24f3def51d3ebc</string>
	<key>DATABASE_URL</key>
	<string>https://fir-binatrix.firebaseio.com</string>
</dict>
</plist>